# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VSCode
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Build
dist/
build/

# IDE
.idea/